.container-banner{
  background: linear-gradient(-45deg, #000000, #201222);
  border-bottom: solid 2px #09D1FC;
  height: 100vh;
}

.container-banner__photo{
  width: 150px;
  margin: 100px;
  border-radius: 50%;
}

.container-banner__title {
  color: #E9E1E1;
  letter-spacing: 0.4em;
  text-transform: uppercase;
}

.container-banner__btn:hover {
  background-color: white;
  border: solid 1px #09D1FC;
  box-shadow: rgb(10, 129, 144) 0px 2px 4px;
  color: #000133 !important;
}

.container-banner__list-icons{
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
  width: 20%;
}

.container-banner__itens-icons{
  width: 2rem;
}

.container-banner__itens-icons:hover{
  border-radius: 80%;
  box-shadow: rgb(10, 129, 144) 0px 2px 4px;
  width: 2.1rem;
}