.card-redesocial{
  align-items: flex-start;
  display:flex;
  flex-direction: column;
}

.container-redesocial__item{
  margin: 0.4rem;
  padding-left: 0.4rem;
}
.container-redesocial__img{
  width: 25px;
}

.container-redesocial__text{
  display: inline;
  color: white !important;
  padding-left: 1rem;
}
.container-redesocial__link{
  text-decoration: none !important;
}

.container-redesocial__text:hover{
  color: #09D1FC !important;
}

.container-redesocial__img:hover{
  border-radius: 50%;
  box-shadow: #09D1FC 0px 1px 8px 0px, rgba(187, 190, 193, 0.15) 0px 1px 3px 1px;
}